# This file contains common pin mappings for the BIGTREETECH SKR
# MINI 2.0. To use this config, the firmware should be compiled for 
# the STM32F103 with a "28KiB bootloader". Also select "enable extra 
# low-level configuration options" and configure "GPIO pins to set 
# at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini with that SD card.

## Voron Design VORON 0.1 SKR Mini E3 V2 config

#[include klipper_Expander.cfg]
[include DisplayEncoder.cfg]
[include DisplayMenu.cfg]
[include hardware.cfg]
[include sensors.cfg]
[include fans.cfg]
[include macros.cfg]
[include klipper_Expander.cfg]
[include input_shaper.cfg]

#[include macros/calibration/calibrate.cfg]
[include macros/calibration/pa_calibrate.cfg]
[include macros/calibration/flow_calibrate.cfg]

[virtual_sdcard]
path: ~/gcode_files

[idle_timeout]
timeout: 1800

[pause_resume]

[display_status]

[exclude_object]

[respond]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1

[mcu]
#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_39FFD8055654353811621843-if00

##  MCU for adxl345 acelometer RPI
[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 6000
#max_accel_to_decel: 2000	    # should be set to 4000, 7000 when tuning ringing tower
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 5.0


#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[verify_heater heater_bed]
check_gain_time:120

#[safe_z_home]
#home_xy_position: 120,120
#speed: 50.0
#z_hop: 5

[homing_override]
axes: z
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
   G28 X Y
   G0 X120 Y120 F3600 
   
   G28 Z
   G0 Z10 F1800
   G0 X60 Y60 Z20 F3600

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.333
#*# pid_ki = 2.195
#*# pid_kd = 336.187
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.343
#*# pid_ki = 2.458
#*# pid_kd = 99.906
#*#
#*# [stepper_z]
#*# position_endstop = -0.190
